@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media only screen and (max-width: 425px) {
    .display-2 {
        font-size: 2.5rem;
        padding-top: 10%;
    }
    .contactform{
      margin-top: 5%;
    }
}

@media only screen and (min-width:1025px) {
  #about-section{
    height:100vh;
  }
  .card-body{
    height:267px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  list-style: none;
  /* background-image: url('funky-lines.png'); */
}

#about-section p, h3{
  font-size: 1.25rem;
}

.navbar{
  /* background-color: whitesmoke/*rgba(0, 173, 255, 1)*/;
  background: linear-gradient(to right, rgb(170, 255, 169), rgb(17, 255, 189));
  padding: 0.5%;
}

.navbar >a{
  color:#343a40 !important;
}

.navbar-light .navbar-nav .nav-link {
  color:#343a40 !important;
}

.navbar-collapse{
  justify-content:flex-end;
  padding: 0.5%;
}

.Jumbotron-fluid{
  /* background-image: url('https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
  background: linear-gradient(to right, rgb(170, 255, 169), rgb(17, 255, 189));
  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-8deg);
  transform-origin: top left;
  height: 100vh;
  background-size: cover;
  color:whitesmoke;
}

.display-2{
  display: flex;
  justify-content: center;
  padding-top: 30%;
  transform: skewY(8deg);
  transform-origin: top right;
}

#about-section{
  background-color: white;
  padding: 2%;
  margin: 2%;
  font-size: 1.15rem;
}

.justifyText{
  text-align: justify;
}

.profile-img{
  width: 25%;
  border-radius: 2%;
}

.row{
  margin-top: 3%;
  margin-bottom: 3%;
}

#skills-section{
  background-color: white;
  padding: 2%;
  margin: 2%;
}

#projects-section{
  background-color: white;
  padding: 2%;
  margin: 2%;
}

#projects-section p{
  font-size: 1rem;
}

.contactform{
  padding-left: 5%;
  padding-right: 5%;
}

.contactform p{
  font-size: 1.25rem;
}

.contact-button{
  margin-top: 1%;
}

.form-control{
  margin-bottom: 2%;
}

footer{
  display: flex;
  padding-bottom: 1%;
  padding-top: 1%;
  color:#343a40 /*whitesmoke*/;
  position: fixed;
  height: 100vh;
}

.fa-github, .fa-linkedin-in{
  color: #343a40 /*white*/;
}

.fa-certificate{
  color: gold;
}

.footerList{
      list-style-type: none;
}
