@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 425px) {
    .display-2 {
        font-size: 2.5rem;
        padding-top: 10%;
    }
    .contactform{
      margin-top: 5%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
}

@media only screen and (min-width:1025px) {
  #about-section{
    height:100vh;
  }
  .card-body{
    height:267px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  list-style: none;
  /* background-image: url('funky-lines.png'); */
  background-color: #f5f5f5;
}

h1 {
  color: #f5f5f5;
}

h3{
  color: rgba(51, 102, 153);
}

#about-section p, h3{
  font-size: 1.25rem;
}

.navbar{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.5%;
}

.navbar a{
  color:#f5f5f5 !important;
}

.navbar-light .navbar-nav .nav-link .navbar-brand {
  color:#f5f5f5 !important;
}

.navbar-collapse{
  justify-content:flex-end;
  padding: 0.5%;
}

.navbar-brand{
  display: flex;
  align-content: flex-start;
}

.Jumbotron-fluid{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: center;
  background-repeat: no-repeat;
  transform: skewY(-8deg);
  transform-origin: top left;
  height: 100vh;
  background-size: cover;
  color:#303030;
}

.display-2{
  display: flex;
  justify-content: center;
  padding-top: 30%;
  transform: skewY(8deg);
  transform-origin: top right;
}

#about-section{
  background-color: #f5f5f5;
  padding: 2%;
  margin: 2%;
  font-size: 1.15rem;
}

.justifyText{
  text-align: justify;
}

.profile-img{
  width: 25%;
  border-radius: 2%;
  background-color: transparent;
  transition: width .75s;
}

.profile-img:hover{
  width:35%;
}

.row{
  margin-top: 3%;
  margin-bottom: 3%;
}

#skills-section{
  background-color: #f5f5f5;
  padding: 2%;
  margin: 2%;
}

#projects-section{
  background-color: #f5f5f5;
  padding: 2%;
  margin: 2%;
}

#projects-section p{
  font-size: 1rem;
}

.card{
  margin-bottom: 5%;
  /* width: 2rem; */
}

.contactform{
  padding-left: 25%;
  padding-right: 25%;
}

.contactform p{
  font-size: 1.25rem;
}

.contact-button{
  margin-top: 1%;
}

.form-control{
  margin-bottom: 2%;
}

footer{
  display: flex;
  padding-bottom: 1%;
  padding-top: 1%;
  color:#343a40 /*whitesmoke*/;
  position: fixed;
  height: 100vh;
}

.footer a{
  border-radius: 50%;
  padding:1%;
}

.socialinks{
  display: flex;
  justify-content: center;
}

.fa-certificate{
  color: gold;
}

.footerList{
      list-style-type: none;
}

.footnote{
  font-size: 10pt;
}

::placeholder{
  font-size: 20px;
}